@import "colors";

@mixin simple-flex($justify-content: flex-start, $align-items: stretch){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin body-copy{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    color: $darkgrayishblue;
}

html {
    height: 100%;
}

body {
    @include simple-flex(center, center);
    height: 100%;
    background-color: $cream;
}

#product-card {
    @include simple-flex();
    width: 660px;
    height: 500px;
    background-color: $white;
    border-radius: 15px;

    #product-image {
        width: 50%;
        background: {
            image: url("../images/image-product-desktop.jpg");
            size: cover;
            repeat: no-repeat;
            position: center;
        }
        border-radius: 15px 0 0 15px;
    }

    #product-info {
        width: 50%;
        margin: 6%;
        @include simple-flex(space-around);
        flex-direction: column;

        * {
            margin: 0;
        }
        
        h3 {
            @include body-copy;
            letter-spacing: 3px;
        }

        h1 {
            font-family: "Fraunces";
            font-weight: 700;
        }

        p {
            @include body-copy;
        }

        span {
            @include simple-flex(-content, center);

            h2 {
                font-family: "Fraunces";
                font-weight: 700;
                color: $darkcyan;
                font-size: 28px;
            }

            p {
                text-decoration: line-through;
                margin-left: 10%;
            }
        }

        button {
            @include simple-flex(center, center);
            border: 0px;
            border-radius: 8px;
            width: 100%;
            background-color: $darkcyan;
            padding: 15px 0px;

            &:hover {
                background-color: $darkercyan;
                cursor: pointer;
            }
            
            img {
                margin-right: 4%;
            }

            p {                
                @include body-copy;
                color: $white;
            }
       
        }

    }

}

@media (max-width: 375px) {

    #product-card {
        flex-direction: column;

        height: 650px;

        #product-image {
            border-radius: 15px 15px 0 0;
            height: 40%;
            width: 100%;
            background-image: url("../images/image-product-mobile.jpg");
        }

        #product-info {
            height: 60%;
            width: auto;
            max-width: 100%;
        }
    }


}